*{
	margin: 0;
	padding: 0;
}


/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	max-width: 800px;
	margin: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

html{
	background-color: white;
}

header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%)
}


header h2 {
	font-size: 170%;
	color: #800000;
}

header h3{
	font-size: 130%;
	font-style: italic;
}

h3 span {
	box-shadow: #800000;
}


/* the styles for the header */
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

#nav_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}
#nav_menu ul li{
	float: left;
}
#nav_menu ul li a{
	display: block;
	width: 160px;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu ul li a.current{
	color: yellow;
}
#nav_menu ul ul{
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
}
#nav_menu ul li:hover > ul{
	display: block;
}
#nav_menu > ul::after{
	content: "";
	display: block;
	clear: both;
}
/* the styles for the section */
main {
	clear: left;
	
}
section ul{
	list-style-type: circle;
}
h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .15em;
	margin: 0;
	color: #800000;
}
article{
	padding-top: .5em;
	padding-bottom: .5em;
}
article img{
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	padding: 0;
	border: 1px solid black;
}
article h2{
	padding-top: 0;
	color: black;
}
article h3{
	font-size: 105%;
	padding-bottom: .25em;
}
main h2{
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;

}
main h3{
	font-size: 105%;
	padding-bottom: .25em;
}
main a:hover{
	font-style: italic;
}
main img{
	padding-bottom: 1em;
}
main p{
	padding-bottom: .5em;
}
main blockquote{
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}
main ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}
main li{
	padding-bottom: .35em;
}
section{
	width: 525px;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}
aside img{
	padding-bottom: 1em;
}

/* the styles for the footer */
footer{
	text-align: center;
	border: 3px solid #931420;
	background-color: #931420;
	color: white;
	clear: both;
}
footer p{
	padding-top: 1em;
	padding-bottom: 1em;
}